.container{
  position: relative;
  /*border: 1px solid #E0572A ;*/
  width:auto;
  background-color:#F0F0F0;
  font-size: 0;
  margin: 30px 5% 0 5%;
  padding:20px 0;
  box-shadow: 5px 5px 8px;
}

/*番号変更パネル*/
#number_div {
  display: inline-block;
  width: 330px;
  margin: 0 0 0 15%;
  padding: 10px;
  /*border: 1px solid #000;*/
  background-color: #fff;
  font-size: 0;
}
#number_div > div{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
p#number_header{
  display: block;
  font-size: 26px;
  margin: 0 auto;
  text-align: center;
}
#current_number {
  margin:0 10px;
  width:200px;
  height:200px;
  border: 1px solid #000;
  background-color: #000;
}
#showed_number{
  color: #fff;
  font-size: 80px;
  width:200px;
  height:200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle{
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
#number_left_arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 43.3px 25px 0;
  border-color: transparent #000 transparent transparent;
}
#number_right_arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 43.3px;
  border-color: transparent transparent transparent #000;
}

/*その他ボタン*/
.other_contents{
  position:absolute;

  display:block;
  right: 15%;
  bottom: 0;
  padding: 10px;
  margin-left:15%;
}
.other_contents > div{
  width: 150px;
  height: 40px;
  margin: 10px 0;
  line-height: 100%;
}
.other_contents > div > div{
  position:relative;
  width: 150px;
  height: 40px;
  /*border:1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#reset_button{
  background-color: #46B77E;
  font-size:22px;
}
#reset_config{
  background-color: #718BEA;
  font-size:19px;
}

/* clear fix */
.container:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.number_div:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.other_contents:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

#test1{
  border: 1px solid black;
  width:200px;
  height:800px;
}

/*リセット設定*/
.config_area{
  display:none;
  position:absolute;
  right:15%;
  width:200px;
  height:200px;
  background-color: #718BEA;
  box-shadow: 2px 2px 10px;
}
              #reset_switch{
                display:flex;
                height:30px;
                background-color: black;
                text-align: center;
                margin: 17px 0 0 0;
              }
                                    #on_switch{
                                      background-color: red;
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                      width:100px;
                                      height:30px;
                                    }
                                    #off_switch{
                                      display: flex;
                                      align-items: center;
                                      justify-content: center;
                                      background-color: blue;
                                      width:100px;
                                      height:30px;
                                    }
              #reset_time{
                background-color: black;
                text-align: center;
                width:150px;
                padding:15px 0 10px 0;
                margin: 15px 0 0 0;
              }
                                      .config_area input, .config_area text{
                                        display: inline-block;
                                      }
                                      .config_area input{
                                        width: 40px;
                                        height:40px;
                                        font-size: 30px;
                                      }
                                      .config_area text{
                                        color: white;
                                        font-size: 15px;
                                      }
              #resume{
                position:absolute;
                bottom:0;
                padding:0;
                width:200px;
                height:50px;

                background-color: #2884F7;
              }
              #resume > div{
                position:relative;
                width:200px;
                height:50px;
                font-size: 25px;

                  /*border: 1px solid #000;*/
                  display: flex;
                  justify-content:center;
                  align-items: center;
                }


/*ユーザークラス*/
.flex_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.zenkai_haba{
  width:100%;
}
.ukideru:hover{
  box-shadow: 0 0 10px gray;
  transition: 0.2s;
}
